body {
	font-family: Tahoma;
}
#breadcrumbs,
.filters .search,
.controls-container
{
	display: none;
}

h1,h2,h3,h4,h5 {font-weight: bold; color: #444;}
h1 { font-size:28px; margin: 26px 0 13px 0; }
h2 { font-size:24px; margin: 26px 0 13px 0; }
h3 { font-size:20px; margin: 26px 0 13px 0; }
h4 { font-size:18px; margin: 26px 0 13px 0; }

.filters .list li {
	display: inline;
}

table {
	margin: 8px 0;
	max-width: inherit;
}
table tr.zebra {
	background: #fafafa;
}
table tr td {
	border-bottom: 1px solid #aaa;
	padding: 2px 10px;
}
table tr th{
	padding: 7px 10px;
	background-color: #0049a6;
	color: #fff;
	text-align: left;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;
/*	white-space: nowrap;*/
}
table tr th a {
	color: #fff;
	display: block;
}
table tr th a:hover {
	text-decoration: none;
}
table tr th.related {
	/*width: 1%;*/
}
table tr td {
	padding: 5px 10px;
}
table tr td.id {
	text-align: center;
	/*width: 15px;*/
}
table tr td.toggle {
	padding: 0;
	margin: 0;
}
table tr td div.toggle {
	cursor:pointer;
	padding: 10px;
	/*width: 30px;*/
}
table tr td div.icons {
	display: block;
	white-space: nowrap;
}
table tr td div.icons img {
	filter:alpha(opacity=75);
	opacity:0.75;
	white-space: nowrap;
}
table tr td div.icons img:hover {
	filter:alpha(opacity=100);
	opacity:1;
}
table tr th.client {
	/*width: 150px;*/
}
table tr {
	background: #fff;
}
table tr.tr-child {
	background: #f7f7f7;
}
table tr td.column-toggle {
	background: #ddd;
	border-right: none;
}
table tr td.column-expanding {
	padding: 0;
	background: #ddd;
	border-left: none;
}
table tr td.column-expanding table {
	margin: 0;
	width: 100%;
}
table tr td.column-expanding table tr:first-child th {
	/*border-top:none;*/
	border-right:none;
}
table tr td.column-expanding table tr:last-child td {
	border-right:none;
}
table tr td.column-expanding table tr td:last-child {
	border-right:none;
}
table tr td.column-expanding div.controls {
	padding: 5px 0;
	display: block;
}
table.nowrap tr td {
	white-space: nowrap;
}

table .sort-arrow {
	color: #666;
	font-size: 80%;
	display: inline-block;
}

col.checkbox, 
th.checkbox,
td.checkbox,
tr.checkbox,
col.actions,
th.actions,
td.actions {
	visibility: collapse;
	display: none;
}