form label {
	display: block;
}
body {
	margin-top: 25px;
}
.right {
	float: right;
}
.clear{
	clear: left;
}
.arrow {
	font-size: 12px;
}
a {
	color: #FF3F1F;
	text-decoration: none;
}
a img {
	border: none;
}
a:hover {
	text-decoration: underline;
}
table   { border-collapse: collapse }
table tr {
	border-bottom: 1px solid #ccc;
}
table tr th {
	font-weight: 500;
	text-transform: uppercase;
	background: #efefef;
}
table tr th,
table tr td {
	padding: 5px;
	margin: 5px;
}
table tbody tr:hover {
	background: #F5F5F5;
}
ul.errors {
	background-color: #ffe8eB;
	border: 1px solid #ed9d9d;
	padding: 5px;
}
ul.errors li {
	padding: 2px 5px;
	list-style: disc inside;
}

#admin-menu {
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #333;
	color: #ccc;
	padding: 5px;
	margin-bottom: 10px;
}
#admin-menu .right {
	padding-right: 10px;
}

label.required:after {
	content: ' (required)';
	font-weight: normal;
	font-style: italic;
	color: #888;
}
.actions {
	white-space: nowrap;
}


/*** Controls Buttons ***/
.back {
	display: block;
	margin: 5px 0;
}
#add-new {
	display: block;
	margin-bottom: 5px;
	background: url(/kongo/media/img/admin/add.png) 0 1px no-repeat;
	padding-left: 20px;
}
div.controls-container {
	margin: 20px 0;
	padding: 10px;
	background: rgba(0, 0, 0, 0.04);
}


.control,
input[type="submit"],
input[type="button"] {
	font-family: 'Lucida Grande';
	font-size: 11px;
	
	background: #444;
	color: #eee;
	padding: 3px 8px;
	display: inline-block;

	border: none;
	border-bottom: 1px solid #aaa;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.control a {
	color:#eee;
}
.control a:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
	cursor: pointer;
	text-decoration: none;
}
span.control:active,
input[type="submit"]:active,
input[type="button"]:active {
	position: relative;
	top: 1px;
	border-bottom: none;
}
span.control:active {
	margin-bottom: 1px;
}
input[type="submit"]:active,
input[type="button"]:active {
	padding: 3px 8px;
}
#publish {
	background: #205707;
}
#unpublish {
	background: #E01028;
}


